*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.contenedor__navegador li {
    display: inline;
    font-size: 30px;
    padding: 10px;


}
.contenedor__navegador li a {
    text-decoration: none;
    color:white;
}
.contenedor__navegador li a:hover {
    color: blueviolet;
}

.contenedor__carro img {
 height: 600px;
}
.contenedor__pie {
    
    background-color: black;
    color: burlywood;
    height: 100px;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
             /*Nosotros*/

.contenedor__nosotros {
    background-color: burlywood;
    height: 600px;
    text-align: center;

}  
.contenedor__nosotros h1 {
    color: rgb(202, 104, 12);

}
.nosotros__texto {
    font-size: 30px;
}

          /*Contacto*/


.contacto__formulario {
    background-color: burlywood ;
    padding-top: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacto__tex {
    text-align: center;
}
.contacto__tel {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}
.contacto__tel p {
    padding: 10px;
}


.contenedor__formu {
    background-color: burlywood;
    height: 600px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
  
   
    
}
.contacto__datos {
    border: solid 2px;
    width: 320px;
    padding: 10px;
  

}
.contacto__datos form {
    width: 300px;
    display: flex;
    flex-direction: column;

    
    
    
}
                     /*Servicios*/

.card-body {
    background-color: burlywood;
}                     
.card-title {
    background-color: burlywood;
    color: rgb(202, 104, 12);
    text-align: center;
}
